<div class="page-head tasks-page-head">
    <div class="page-head__text">
        <h1>Tarefas</h1>
        <p class="sub">Veja o que precisa ser feito. Abra uma tarefa para trabalhar nela, conferir os passos ou conversar com a equipe.</p>
    </div>
    <div class="page-head__actions">
        <a href="{% url 'task-quick-create-standalone' %}" class="btn btn--primary js-new-task">
            {% include "_icon.html" with name="plus" %} Nova tarefa
        </a>
        <a href="{% url 'queue' %}" class="btn">{% include "_icon.html" with name="queue" %} Ver fila do setor</a>
    </div>
</div>
