{% extends "base.html" %}
{% load static %}
{% block title %}Demandas - Quadro por etapas - LPS{% endblock %}

{% block content %}
<section class="activities-page kanban-page" aria-labelledby="activities-title">
    {% include "activities/_activity_page_head.html" %}
    {% include "activities/_kanban_view_tabs.html" %}
    {% include "activities/_kanban_toolbar.html" %}
    {% include "activities/_kanban_board.html" %}
</section>
{% include "activities/_kanban_config.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/kanban.js' %}?v=20261003a"></script>
{% endblock %}
