{% extends "base.html" %}
{% load static %}
{% block title %}Tarefas - Quadro - LPS{% endblock %}

{% block content %}
<div class="tasks-page kanban-page">
    {% include "activities/_task_page_head.html" %}
    {% include "activities/_kanban_view_tabs.html" %}
    {% include "activities/_kanban_toolbar.html" %}
    {% include "activities/_kanban_board.html" %}
</div>
{% include "activities/_kanban_config.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/kanban.js' %}?v=20261003a"></script>
{% endblock %}
